body, html {
    width: 100%;
    height: 100%;
    /*background-color: rgb(255, 255, 255);*/
    /*background-color: #e9eaea;*/

}

#head {
    width: 100%;
    height: 3%;
    float: left;
    background-color: #dedddd;

}

#head_text {
    width: 5%;
    margin: auto;

}
#control input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #aaa;
    width: 8px;
    height: 20px;
    border-radius: 4px;
    cursor: pointer;
}
/*-------------------------------------------------------------------------------------------------------------*/

#query_parameter {
    width: 20%;
    height: 97%;
    float: left;
    border-color: #1c7430;
    border-width: 5px;
    /*background-color: #333333;*/
}

#query {
    width: 100%;
    height: 42%;
    /*box-shadow: 10px 10px 10px rgba(51, 51, 51, 0.16);*/
    float: left;
    border-radius: 0px;
    border-color: #1b1e21;
    border-width: 5px;
}

/*probe*/
#probe {
    width: 50%;
    height: 90%;
    /*box-shadow: 10px 10px 10px rgba(51, 51, 51, 0.16);*/
    float: left;
}

#search_person {
    width: 100%;
    height: 9.5%;
    /*box-shadow: 10px 10px 10px rgba(51, 51, 51, 0.16);*/
    float: left;
    /*background-color: #333333;*/
}

#person {
    width: 17%;
    height: 90%;
    /*box-shadow: 10px 10px 10px rgba(51, 51, 51, 0.16);*/
    float: left;
    /*background-color: #333333;*/
}

#probe_image {
    width: 84%;
    height: 82%;
    /*box-shadow: 10px 10px 10px rgba(51, 51, 51, 0.16);*/
    float: left;
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 5px;


    -webkit-box-shadow: #a8a8a8 0px 0px 10px;
    -moz-box-shadow: #a8a8a8 0px 0px 10px;
    box-shadow: #a8a8a8 0px 0px 10px;

    /*border:1px solid #b4b3b3;*/
    /*background-color: #333333;*/
}

/*一些组件*/
#attributes {
    width: 45%;
    height: 100%;
    margin-left: 13px;
    /*box-shadow: 10px 10px 10px rgba(51, 51, 51, 0.16);*/
    float: left;
}

/*Search_result*/
#overview {
    width: 100%;
    height: 58%;
    /*box-shadow: 10px 10px 10px rgba(51, 51, 51, 0.16);*/
    float: left;
    border-radius: 0px;

}

/*绿色titile*/
#query_subtitle {
    width: 99%;
    height: 20px;
    float: right;
}

/*绿色titile样式*/
.subtitile {
    width: 49%;
    height: 20px;
    float: left;
    margin: 1px;
    /*background-color: rgba(51, 51, 51, 0.22);*/
    background-color: #d4eacb;
    border-radius: 7px;

}

/*-------------------------------------------------------------------------------------------------------------*/
/*#parameter {*/
/*    width: 100%;*/
/*    height: 30%;*/
/*    !*box-shadow: 10px 10px 10px rgba(51, 51, 51, 0.16);*!*/
/*    float: left;*/
/*    border-radius: 0px;*/
/*}*/
#Pic_ {
    width: 80%;
    height: 97%;
    float: left;
    /*background-color: #333333;*/
}

#jian_bian_dai {
    width: 100%;
    height: 4%;
    /*box-shadow: 10px 10px 10px rgba(51, 51, 51, 0.16);*/
    float: left;
    border-radius: 0px;
    /*background-color: #333333;*/
    /*overFlow-x: scroll;*/
    /*overFlow-y: scroll;*/
}

#Pic {
    width: 100%;
    height: 85%;
    /*height: 82%;*/
    /*box-shadow: 10px 10px 10px rgba(51, 51, 51, 0.16);*/
    float: left;
    border-radius: 0px;
    /*overFlow-x: scroll;*/
    /*overFlow-y: scroll;*/

}

/*rank list*/
#Pic_parameter {
    width: 100%;
    height: 14.8%;
    /*height: 60%;*/
    /*box-shadow: 10px 10px 10px rgba(51, 51, 51, 0.16);*/
    float: left;
    border-radius: 0px;
    overFlow-x: scroll;
    overFlow-y: scroll;
}

#compression {
    width: 100%;
    height: 70%;
    /*box-shadow: 10px 10px 10px rgba(51, 51, 51, 0.16);*/
    float: left;
    border-radius: 0px;
    overFlow-x: scroll;
    overFlow-y: scroll;
}

.title {
    width: 98%;
    height: 20px;
    float: left;
    margin: 5px;
    /*background-color: rgba(51, 51, 51, 0.22);*/
    background-color: #3174ad;
    border-radius: 3px;

}


.svg1-back {
    /*background-color: AliceBlue;*/
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}


