
body, html{
    width: 100%;
    height: 100%;
}

#scatter {
    width: 35%;
    height: 50%;
    box-shadow: 10px 10px 10px rgba(51, 51, 51, 0.16);
    float:left;
    border: rgba(179, 96, 96, 0.36);
    border-radius: 10px;
}




